body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

*{
    color: #fff;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
}
.logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 10px;
}
header .title {
    font-size: 1.5rem;
    position: relative;
    left: 2.75rem;
    padding-top: 0.5rem;
}
html, body {
    overflow: hidden;
    height: 100%;
  }
.content {
    display: flex;
    position: absolute  ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center  ;
}  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    padding: 1rem;
    width: 30%;
    height: 50%;
}

.btn_one i{
    color: white;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.3s linear;
}

.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(0,0,0);
    box-shadow: 0 0 6px rgba(255,255,255,0.7);
    transition: all 0.1s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255,255,255,0.5);
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i{
    color: gray;
    line-height: 60px;
    font-size: 25px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.1s linear;
}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 20px;
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}

.btn_one i:hover{
    font-size: 40px;
}

.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}
.menu > ul li {
    list-style: none;;
}
.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5rem;
}
.cont #title{
    text-align: center;
}
.cont{
    padding-left: 4.5rem;
}
.but-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.but-container > a {
    margin: 0.5rem;
}
.contact-content{
    padding-left: 7rem;
}